.css-1laqsz7-MuiInputAdornment-root {
    margin: 0 0 2px 6px;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root > svg {
display: none;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root >span {
    width:16px;
    height:16px;
    background-image: url("../../image/icons/ic_dropdown@2x.png");
    background-size: cover;
}